.app {
  .app-component {
    padding: 20px;

    .preset-wrapper {
      display: flex;
      align-items: center;
      .basic-single {
        width: 300px;
        margin-right: 20px;
        font-size: 14px;
      }
      .preset-input {
        padding: 8px 15px;
        font-size: 14px;
        border-radius: 3px;
        border: hsl(0, 0%, 80%) 1px solid;
        width: 300px;
        &:focus {
          outline-color: #1084ee;
        }
      }
      button {
        padding: 5px 25px;
        margin-left: 20px;
        border: none;
        font-size: 14px;
        font-weight: 700;
        background-color: #0d99dd;
        cursor: pointer;
        color: #fff;
        box-shadow: 1px 1px 5px 0px #a3a3a3;
        border-radius: 3px;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: lighten(#0d99dd, 5);
        }
      }
    }

    .main-app {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 6fr 4fr;
      background-color: #eef8ff;
      height: 80vh;
      .flex-child {
        padding: 20px;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        position: relative;
        .view-schema {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #cc507d;
          color: #fff;
          padding: 4px 8px;
          font-size: 14px;
          cursor: pointer;
        }
        &:nth-child(2) {
          background-color: #28363f;
        }
        .rows-count {
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          input {
            padding: 5px 8px;
            border-radius: 3px;
            border: hsl(0, 0%, 80%) 1px solid;
            width: 50px;
            &:focus {
              outline-color: #1084ee;
            }
          }
          p {
            margin-right: 20px;
          }
        }
        .schema-wrapper {
          border: hsl(0, 0%, 80%) 1px solid;
          padding: 0 10px 10px 10px;
          .input-rows {
            display: flex;
            align-items: top;
            margin-top: 10px;
            div {
              .add-child {
                display: flex;
                justify-content: space-between;
                p {
                  font-size: 12px;
                  color: #0d49de;
                  cursor: pointer;
                }
              }
              .data-type {
                width: 150px;
                padding: 0px 5px;
                font-size: 14px;
                .select__control {
                  height: 30px !important;
                }
              }
              input {
                width: 150px;
                padding: 8px 10px;
                height: 19px;
                border-radius: 5px;
                border: hsl(0, 0%, 80%) 1px solid;
                &:focus {
                  outline-color: #1084ee;
                }
              }
            }

            .delete-row {
              width: 20px;
              height: 20px;
              margin-left: 10px;
              border: none;
              background-color: red;
              font-weight: 700;
              color: #fff;
              cursor: pointer;
              margin-top: 8px;
            }
          }
        }

        .add-column {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-top: 10px;
          border: none;
          color: #fff;
          background-color: #cc507d;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: lighten(#cc507d, 5);
          }
        }
      }
    }
  }
}

//#d1507d
