header {
  background-color: #343e45;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: #ffffff;
    font-size: 20px;
    span {
      color: #d1507d;
    }
  }
  a {
    color: #fff;
    margin-left: 50px;
    font-weight: 700;
    text-decoration: none;
    display: inherit;
  }
  .active {
    color: #d1507d;
  }
  nav {
    display: flex;
    align-items: center;
  }
  svg {
    fill: #fff;
  }
  .login {
    margin-left: 50px;
    padding: 4px 20px;
    border: none;
    min-width: 100px;
    border-radius: 3px;
    background-color: #d1507d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: darken(#d1507d, 9);
    }
    &:focus {
      outline: none;
    }
  }

  .login-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    .login-method {
      border-radius: 3px;
      width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 30px;
      box-sizing: border-box;
      display: grid;
      grid-gap: 25px;
      & > button {
        display: block;
        border-radius: 5px;
        width: 100%;
        padding: 10px 0;
        cursor: pointer;
        border: none;
        background-color: #0087e8;
        color: #fff;
        font-weight: 600;
      }
    }
    form {
      p {
        text-align: center;
        margin-bottom: 10px;
      }
      input {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }
      button {
        display: block;
        border-radius: 5px;
        width: 100%;
        padding: 10px 0;
        cursor: pointer;
        border: none;
        background-color: #d1507d;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.error {
  color: red;
}
