.preset {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  h2 {
    margin: 20px 0;
    color: #4a4a4a;
  }
  p {
    line-height: 1.7;
  }
  .preset-wrapper {
    margin-bottom: 20px;
    p {
    }
    .preset-id {
      display: flex;
      p {
        margin-right: 10px;
        color: #474747;
      }
      button {
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
}
